@use '../mixin/responsive' as *;

.map__inner{

  @include mq("md"){
    margin-top: 120px 40px 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  @include mq("sm"){
    margin-top: 120px 40px 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -100px;
    height: 593px;
    margin-bottom: -81px;
    
  }
  
}

.map-btn-wrapper {

  @include mq("md"){
margin-right: 100px;
margin-top: -92px;

  }
  
  @include mq("sm"){
    position: relative;
    white-space: nowrap;
   margin-top: -43px;
   margin-left: 50px;
   margin-bottom: 60px;
   padding-top: -10px;
  }
  
}

.map-btn{

  @include mq("md"){
max-width: 314px;
padding: 15px 76px;//これで調整か？違うサイズにしたい max-widthも使った
white-space: nowrap
  }
  
  @include mq("sm"){
    position: absolute;//うごいたまじでうれしい
  
    top: -76px;
    left: -32px;
    max-width: 339px;
    padding: 15px 90px;//これで調整か？違うサイズにしたい max-widthも使った
    height: 54px;

  }
  
}

.map__inner__left{
 
  width: 24%;
  text-align: left;

  @include mq("md"){
    margin-left: 60px;
    margin-top: -81px;
  }
  
}

.map__inner__right{
  width: 50%;
  margin: 0 auto;
 
}
.access-title{

letter-spacing: 0px;
color: #FFFFFF;

@include mq("md"){
  margin-top: -131px;
font: normal normal 600 36px/44px Montserrat;

}

@include mq("sm"){
  margin-top: -255px;
font: normal normal 600 36px/44px Montserrat;
font-size: 30px;
}

}

.map__content{

text-align: left;
font: normal normal medium 16px/24px YuGothic;
letter-spacing: 0px;
color: #FFFFFF;
white-space: nowrap;

@include mq("md"){

  margin-top: 55px;
  font: normal normal medium 16px/24px YuGothic;
font-size: 16px;

}

@include mq("sm"){

  width: 185px;
height: 54px;
font-size: 14px;
letter-spacing: 0px;
margin-top: 29px;
margin-bottom: 24px;
font: normal normal medium 14px/20px YuGothic;
letter-spacing: 0px;
}
}

.map__iframe{
  position: relative;
  width: 100%; 

&::before {
  content: "";
  display: block;
  padding-top: 105%; 
}

}

.map__iframe-wrap{

  @include mq("md"){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
    
  @include mq(sm){
  
    position: absolute;
    top: 50%;
    left: -26%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    margin-bottom: -100px;
    
}
}

iframe{
  @include mq("sm"){
    width: 343px;
height: 241px;
  }
  
}
