@use '../mixin/responsive' as *;

.horizontal-table {
  
}

.horizontal-table__inner {

  @include mq(md){
    margin-left: 117px;
    width: -17px;
  }

  @include mq(sm){
    width: 343px;
height: 56px;
  align-items: center;
  white-space: nowrap;//
  
  }
  
}

.horizontal-table__body{
  background-color: #fff;

  flex: 1 1 960px;//どこにいつける

  @include mq("md"){
    width: 343px;
    height: 56px;
  }
  
  @include mq("sm"){
    width: 343px;
height: 50px;
display: block;
  }
  
}

.horizontal-table__header {

  @include mq("md"){
   padding: 16px 100px;
    background: #3E3E3E;
    border: 1px solid #3E3E3E;
    font-weight: bold;
    vertical-align: middle;
    color: #fff;
    font: normal normal 24px/29px Montserrat;
    border-bottom: 1px solid #fff;

  }
  
  @include mq("sm"){
    padding: 15px 27px;
    background: #3E3E3E;
    border: 1px solid #3E3E3E;
    font-weight: bold;
    vertical-align: middle;
    color: #fff;
    font: normal normal 24px/29px Montserrat;
    border-bottom: 1px solid #fff;
font-size: 18px;
    width: 20%;
  }
  
}

.horizontal-table__text {
  padding: 16px 492px 16px 40px;
  border: 1px solid #3E3E3E;
  font: normal normal 600 24px/29px Montserrat;
  letter-spacing: 0px;
  color: #3E3E3E;
  opacity: 1;

  @include mq("md"){

  }
  @include mq("sm"){
    font-size: 20px;
    padding:16px 82px 16px 17px;

  }
  
}

.horizontal-table__row:last-child .horizontal-table__header,
.horizontal-table__row:last-child .horizontal-table__text {
  border-bottom-width: 0;
  
}

.price-title{
  margin-top: -80px;

  @include mq("sm"){
    margin-top: -87px;
    margin-left: -22px;
  }
  
}

.sub-text{
  display: inline-block;
  margin-top: 20px;
  text-align: left;
  letter-spacing: 0px;
  color: #3E3E3E;
  opacity: 1;
  white-space: nowrap;

  @include mq("md"){
    font: normal normal medium 12px/20px YuGothic;
    width: 157px;
height: 12px;
    margin-left: 161px;
    margin-top: 2px;
    font-size: 12px;
    
  }

  @include mq("sm"){
    font: normal normal medium 12px/20px YuGothic;
  margin-top: 200px;
  width: 157px;
height: 12px;
font-size: 12px;
white-space: nowrap;
margin-left: 12px;
    
  }

}

.price__inner{
  
  height:auto;
  margin-right: auto;
  margin-left: auto;
  text-align: center;

  @include mq("md"){
    margin-top: 147px;
    margin-left: 38px;
  }
  
  @include mq("sm"){
    margin-top: 427px;
  margin-left: -2px;
  height:100px;
  }
  
}

.horizontal-table__row{
  border-bottom: 1px solid #3E3E3E;
}

.horizontal-table{
  margin-bottom: -70px;
}